# ===============================
# Python / AI / ML
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
env/
*.log

# ===============================
# Datasets & Audio Files
# ===============================
data/
new_data/
dataset/
datasets/
*.wav
*.mp3
*.3gp
*.flac
*.ogg

# ===============================
# Model Files (Very Large)
# ===============================
*.pth
*.pt
*.h5
*.ckpt
*.onnx

# ===============================
# Jupyter Notebooks
# ===============================
.ipynb_checkpoints/
*.ipynb~

# ===============================
# Android Studio
# ===============================
.gradle/
build/
local.properties
*.apk
*.aab
.idea/
*.iml
.externalNativeBuild/

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Logs & Temp
# ===============================
*.tmp
*.cache

# ===============================
# Git
# ===============================
*.orig
